<ion-menu  [content]="nav" >
  <ion-header>
    <ion-row class="menu">
      <ion-col offset-1 col-9>
        <img margin-top="20px " src="../assets/imgs/login.png"  />
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-grid style="height:100% ;margin-top: 140px ;background-color: #f25947; " >
    <ion-list>

      <button  ion-item style="background-color: rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
               menuClose (click)="openPage(Home)">
        <ion-icon  item-left name="home"></ion-icon>
        Home
      </button>

      <button   ion-item style="background-color: rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
               menuClose (click)="openCompte()">
        <ion-icon  item-left name="contact"></ion-icon>
        Mon Compte
      </button>

      <button  ion-item style="background-color: rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
               menuClose (click)="openPage(com)">
        <ion-icon  item-left name="send"></ion-icon>
        Communication avec les ChatBots
      </button>

      <button *ngIf="isAdmin()" ion-item style="background-color: rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
                              menuClose (click)="openPage(Utilisateur)">
        <ion-icon  item-left name="happy"></ion-icon>
        Utilisateurs
      </button>

      <button *ngIf="isAdmin()"  ion-item style="background-color:  rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
                              menuClose (click)="openPage(Profil)">
        <ion-icon   item-left name="key"></ion-icon>
        Profils
      </button>

      <button *ngIf="isAdmin()" ion-item style="background-color:  rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
                              menuClose (click)="openPage(Groupe)">
        <ion-icon  item-left name="people"></ion-icon>
        Groupes
      </button>

      <button *ngIf="isGrp()" ion-item style="background-color: rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color: #ffe8d5"
                              menuClose (click)="openPage(ChatBot)">
        <ion-icon  item-left name="logo-reddit"></ion-icon>
        ChatBots
      </button>

      <button *ngIf="isGrp()" ion-item style="background-color:  rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
                              menuClose (click)="openPage(Base)">
        <ion-icon item-left name="chatbubbles"></ion-icon>
        Bases De Connaissance
      </button>

      <button *ngIf="isAdmin()" ion-item style="background-color:  rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
              menuClose (click)="openPage(notif)">
        <ion-icon item-left name="notifications"></ion-icon>
        Notifications
      </button>

      <button  ion-item style="background-color:  rgba(249,180,50,0.05);
                              font-weight: bold; font-size: 90%;color:  #ffe8d5"
                              menuClose (click)="logOut()">
        <ion-icon  item-left name="log-out"></ion-icon>
        Déconnexion
      </button>

    </ion-list>
  </ion-grid>
</ion-menu>


<ion-nav [root]="rootPage" #nav></ion-nav>
