<ion-header>
  <ion-navbar>
    <ion-row align-items-center>
      <ion-col col-10 align-items-center>
        <ion-title>Ajouter Un Utilisateur</ion-title>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only (click)="dismiss()">
          <ion-icon name="md-close" class="nav-icon" showWhen="android,windows"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #e9e2d0">
  <form #form="ngForm" (ngSubmit)="Add(form)" >
    <ion-grid>
      <ion-row style="margin-bottom: 10px" >
        <ion-col col-5>
          <label  class="login-label">Nom d'Utilisateur</label>
        </ion-col>
        <ion-col col-12>
          <input color="three" class="login-input" name="username" ngModel type="text" required  />
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
        <ion-col col-5>
          <label  class="login-label">Mot de passe</label>
        </ion-col>
        <ion-col col-12>
          <input color="three" class="login-input" name="pass" ngModel type="password"  required />
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
        <ion-col col-5>
          <label  class="login-label">Nom</label>
        </ion-col>
        <ion-col col-12>
          <input color="three" class="login-input" name="nom" ngModel type="text"  required />
        </ion-col>
      </ion-row>


      <ion-row style="margin-bottom: 10px" >
        <ion-col col-5>
          <label  class="login-label">Prenom</label>
        </ion-col>
        <ion-col col-12>
          <input color="three" class="login-input" name="prenom" ngModel type="text"  required />
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
        <ion-col col-5>
          <label  class="login-label">Matricule</label>
        </ion-col>
        <ion-col col-12>
          <input color="three" class="login-input" name="matricule" ngModel type="number"  required />
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
        <ion-col col-5>
          <label  class="login-label">E-mail</label>
        </ion-col>
        <ion-col col-12>
          <input color="three" class="login-input" name="mail" ngModel type="text"  required />
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
          <ion-col col-12>
            <label  class="login-label">Groupe</label>
          </ion-col>
          <ion-col col-12>
            <ion-select class="login-input" style="max-width: 100% ; background-color : white ; padding-top:10px"
                        name="groupe" ngModel required>
              <ion-option *ngFor="let groupe of groupes" [value]="groupe">{{groupe.name}}</ion-option>
            </ion-select>
          </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
        <ion-col col-12>
          <label  class="login-label">Profil</label>
        </ion-col>
        <ion-col col-12>
          <ion-select class="login-input" style="max-width: 100% ; background-color : white ; padding-top:10px"
                      name="profil" ngModel required>
            <ion-option *ngFor="let p of profils" [value]="p">{{p.name}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row style="margin-bottom: 10px" >
        <ion-col col-4>
          <ion-label>Active</ion-label>
          <ion-checkbox color="dark" name="active" ngModel></ion-checkbox>
        </ion-col>

        <ion-col col-4>
          <ion-label>Groupe Admin</ion-label>
          <ion-checkbox color="dark" name="grpadmin" ngModel></ion-checkbox>
        </ion-col>

        <ion-col col-4>
          <ion-label>Super Admin</ion-label>
          <ion-checkbox color="dark" name="admin" ngModel></ion-checkbox>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col col-12>
          <button [disabled]="!form.valid" class="login-btn" color="three" block  ion-button type="submit">Ajouter</button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
