<div class="col-12 p-0 mb-5 " >
  <h3 class="model-titre">Modifier Les Informations Du Groupe</h3>
</div>
<form (ngSubmit)="modifier()" #form="ngForm">
  <div class="row mt-4" >

    <div class="form-group col-md-12 noMargin-noPadding" >
      <mat-form-field appearance="outline"  class="noMargin-noPadding">
        <mat-label>Nom Du Groupe</mat-label>
        <input #nom="ngModel" [(ngModel)]="data.name" name="nom" matInput placeholder="Nom Du Groupe" type="text" required minlength="2" >
        <mat-hint *ngIf="!nom.valid && nom.touched">Entrer un nom valide</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group col-md-12 noMargin-noPadding" >
      <mat-form-field appearance="outline" class="noMargin-noPadding" >
        <mat-label>Description</mat-label>
        <textarea #description="ngModel" [(ngModel)]="data.description" name="description" matInput placeholder="Description" type="text" required minlength="2" >
        </textarea>
        <mat-hint *ngIf="!description.valid && description.touched">Entrer une description valide</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-md-6 noMargin-noPadding">
      <mat-slide-toggle color="warn" [(ngModel)]="data.isActive" name="active">
        Active
      </mat-slide-toggle>
    </div>

    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline"  class="noMargin-noPadding">
        <mat-label>ChatBot</mat-label>
        <mat-select [(ngModel)]="data.chatBot" name="bot" >
          <mat-option *ngFor="let bot of chatbots" [value]="bot" >
            {{bot ? bot.name : ""}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-6 noMargin-noPadding">
      <button style="width: 100%" mat-raised-button class="Btn-blue" type="submit" [disabled]="!form.valid" >Appliquer Les Modifications</button>
    </div>

  </div>




</form>





