page-home {
  background-color: #e9e2d0;
  .nav-icon{
    color: #f25947;
    font-weight: bold;
  }

}
.menu-text{
  font-weight: bold;
  color: #f25947;
}

.header{
  margin: 0px ;
  padding: 0px ;
  border-bottom: 5px solid #f25947
}
