page-bot-cn {
  .compte-card{
    padding: 10px;
    border-left: 5px solid #f25947 ;
    border-radius: 0px;
  }

  .para{
    font-size: 90%;
    color: #8f8f8f;
  }

  .para1{
    font-size: 90%;
    color: #494949;
    font-weight: 600;
  }
  .session{
    font-weight: 600;
    color:  #f25947 ;
  }
  .menu{
    font-size: 25px;
  }
}
