page-login {
  .logo{
    margin-top: 10%;
    margin-bottom: 3%;
  }
}
.login-label{
  color: #444444;
}
.login-input{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  height: 40px;
  border-radius: 5px;
  border : 1px solid rgba(0,0,0,0.3) ;
  color: #4c4c4c;
}
.login-btn{
  color: #4c4c4c;
}


