page-login {
  background: linear-gradient(60deg, #00416e, #0064a5);
  .logo{
    margin-top: 10%;
    margin-bottom: 3%;
  }
}
.login-label{
  color: #e8f1f5;
}
.login-input{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  height: 40px;
  border-radius: 5px;
  border : none ;
  color:  #004a7c;
}
.login-btn{
  color: #004a7c;
}


