page-communication {
  .compte-card{
    padding: 10px;
    border-left: 5px solid #f25947 ;
    border-radius: 0px;
  }
  .nav-icon{
    color: #f25947;
    font-weight: bold;
  }

  .nom{
    font-weight: 600;
    font-size: 120%;
    color: #f25947;
  }

  .para{
    font-size: 90%;
    color: #8f8f8f;
  }

  .para1{
    font-size: 90%;
    color: #494949;
    font-weight: 600;
  }
  .session{
    font-weight: 600;
    color:  #f25947 ;
  }
  .menu{
    font-size: 25px;
  }

  .me{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f9b771;
    border-radius: 8px;
    white-space:initial;
    display: inline-block;

  }

  .you{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #d1d1d1;
    border-radius: 8px;
    display: inline-block;
    white-space:initial;
  }
}
