<footer class="footer ">
    <div class="container-fluid">
        <!--<nav class="pull-left">-->
            <!--<ul>-->

                <!--<li>-->
                    <!--<a routerLink="AboutUs">-->
                        <!--About Us-->
                    <!--</a>-->
                <!--</li>-->

            <!--</ul>-->
            <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="https://www.creative-tim.com/license">&ndash;&gt;-->
            <!--&lt;!&ndash;Licenses&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</nav>-->
        <!--<div class="copyright pull-right">-->
            <!--&copy;-->
            <!--{{test | date: 'yyyy'}}, made by-->
            <!--<a href="#" target="_blank">Majd Yahyaoui </a>.-->
        <!--</div>-->
    </div>
</footer>
