.model-titre{
  width: 100% ;
  color: #f2f4f7;
  background-color: #df5842;
  margin: 0px;
  padding: 20px;
  font-size: 100%;

}

.Btn-blue{
  background-color: #df5842 ;
  color: #f2f4f7;
  border:1px solid  #df5842 ;
  border-radius: 1px;
  padding: +0.6% +5%;
  font-weight: 600;
}

.Btn-blue:hover{
  background-color: #f2f4f7;
  color: #df5842 ;
}


.noMargin-noPadding{
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
