<div class="col-12 p-0 mb-5 " >
  <h3 class="model-titre">Ajouter Un Utilisateur</h3>
</div>
<form (ngSubmit)="ajouter(form)" #form="ngForm">
  <div class="row mt-4" >

    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline" class="noMargin-noPadding" >
        <mat-label>Nom D'utilisateur</mat-label>
        <input #username="ngModel"  ngModel name="username" matInput placeholder="username" type="text" required minlength="2" >
        <mat-hint *ngIf="!username.valid && username.touched">Entrer un nom d'utilisateur valide</mat-hint>
      </mat-form-field>
    </div>


    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline" class="noMargin-noPadding" >
        <mat-label>Mot de Passe</mat-label>
        <input #password="ngModel" ngModel name="password" matInput placeholder="password" type="password" required minlength="2" >
        <mat-hint *ngIf="!password.valid && password.touched">Entrer un mot de Passe valide</mat-hint>
      </mat-form-field>
    </div>


    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline" class="noMargin-noPadding" >
        <mat-label>Nom</mat-label>
        <input #nom="ngModel" ngModel name="nom" matInput placeholder="nom" type="text" required minlength="2" >
        <mat-hint *ngIf="!nom.valid && nom.touched">Entrer un nom valide</mat-hint>
      </mat-form-field>
    </div>


    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline" class="noMargin-noPadding" >
        <mat-label>Prénom</mat-label>
        <input #prenom="ngModel" ngModel name="prenom" matInput placeholder="prenom" type="text" required minlength="2" >
        <mat-hint *ngIf="!prenom.valid && prenom.touched">Entrer un prénom valide</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline"  class="noMargin-noPadding">
        <mat-label>Matricule</mat-label>
        <input  #matricule="ngModel" ngModel name="matricule" matInput placeholder="Matricule" type="number" required  >
        <mat-hint *ngIf="!matricule.valid && matricule.touched">Entrer un matricule valide</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline"  class="noMargin-noPadding">
        <mat-label>E-mail</mat-label>
        <input ngModel #mail="ngModel" name="mail" matInput placeholder="mail" type="email" required minlength="2" >
        <mat-hint *ngIf="!mail.valid && mail.touched">Entrer un E-mail valide</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline"  class="noMargin-noPadding">
        <mat-label>Groupe</mat-label>
          <mat-select #groupe="ngModel" name="groupe" ngModel required>
            <mat-option *ngFor="let groupe of groupes" [value]="groupe" >
              {{groupe.name}}
            </mat-option>
          </mat-select>
        <mat-hint *ngIf="!groupe.valid && groupe.touched">Ce champ est obligatoire</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-group col-md-6 noMargin-noPadding" >
      <mat-form-field appearance="outline"  class="noMargin-noPadding">
        <mat-label>Profil</mat-label>
        <mat-select #profil="ngModel" name="profil" ngModel required>
          <mat-option *ngFor="let p of profils" [value]="p" >
            {{p.name}}
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="!profil.valid && profil.touched">Ce champ est obligatoire</mat-hint>

      </mat-form-field>
    </div>


    <div class=" col-md-12 noMargin-noPadding" >
        <mat-checkbox style="padding: 15px 35px 15px 35px"  ngModel name="isActive"> Actif </mat-checkbox>
        <mat-checkbox style="padding: 15px"  ngModel name="admin" > Administrateur </mat-checkbox>
        <mat-checkbox style="padding: 15px"  ngModel name="adminGrp" > Administrateur Du Groupe </mat-checkbox>
    </div>

    <div class="col-md-6 noMargin-noPadding">
      <button style="width: 100% ; margin-top: 20px" mat-raised-button class="Btn-blue" type="submit" [disabled]="!form.valid" >Ajouter</button>
    </div>

  </div>




</form>







