<!-- Default form login -->
<div class="id1">
  <div class="row" >
    <div class="col-4 offset-1 " style="margin-top: 80px">
      <form (ngSubmit)="login(f)"  #f="ngForm">

        <div class="text-center form">

          <h4 class="mb-4 title " >Se Connecter</h4>
          <!-- Email --><br>
          <div style="padding: 10px 100px 40px 100px ">

            <mat-form-field appearance="outline">
              <mat-label>Nom d'utilisateur</mat-label>
              <input matInput type="text"  ngModel placeholder="Nom d'utilisateur" name="username" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input matInput  type="password" ngModel placeholder="Mot de passe" name="password" class="input">
            </mat-form-field>

            <!-- Sign in button -->
            <button class="btnn btn btn-block mb-3" type="submit" >Connexion</button>
          </div>
          <div class="col-8 offset-2 " >
            <img class="img-fluid" src="../../assets/img/logo.png">
          </div>
        </div>

      </form>

    </div>


      <!-- Default form login -->
  </div>
</div>
