<!-- Default form login -->
<div class="id1">
  <div class="container ">
      <form (ngSubmit)="login(f)"  #f="ngForm">

        <div class="text-center form">

          <h4 class="mb-4 title " >Sign In</h4>
          <!-- Email --><br>
          <div style="padding: 10px 100px 40px 100px ">

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput type="email"  ngModel placeholder="Username" name="username" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput  type="password" ngModel placeholder="Password" name="password" class="input">
            </mat-form-field>

            <!-- Sign in button -->
            <button class="btnn btn btn-block mb-3" type="submit" >Sign in</button>
          </div>

        </div>

      </form>
      <!-- Default form login -->
  </div>
</div>
